## Готовимся к машинному обучению

Для начала вчитаем информацию по нашему подготовленному тренировочному множеству.

In [1]:
import csv, gzip, os, glob
import numpy, scipy, pandas
from scipy.sparse import coo_matrix, csr_matrix

In [2]:
dataPath = "./"

In [3]:
loaded = numpy.load(os.path.join(dataPath,"commonFriends_train.npz"))
commonFriends_train = csr_matrix((loaded['data'], loaded['indices'], loaded['indptr']), shape=loaded['shape']).tocoo()

In [4]:
loaded = numpy.load(os.path.join(dataPath,"train_markup.npz"))
train_markup = csr_matrix((loaded['data'], loaded['indices'], loaded['indptr']), shape=loaded['shape']).tocoo()

In [5]:
del loaded

## Запускаем панду

Для того чтобы удобно было мержить данные, преобразуем их в пандовский датафреймы - таблицы, хранящие данные по массиву на колонку. Для это при чтении переводили матрицы в coo формат

In [6]:
train_markup_df = pandas.DataFrame(
    data = {"from" : train_markup.row, "to" : train_markup.col, "label" : train_markup.data})
train_markup_df

             from  label        to
0             179      1     10223
1             179      1     18608
2             179      1     44314
3             179      1     50110
4             179      1    104087
5             179      1    125634
6             179      1    164651
7             179      1    167411
8             179      1    191007
9             179      1    198985
10            179      1    216932
11            179      1    238549
12            179      1    253958
13            179      1    268500
14            179      1    269318
15            179      1    276799
16            179      1    286996
17            179      1    299081
18            179      1    318917
19            179      1    331786
20            179      1    333775
21            179      1    334526
22            179      1    339523
23            179      1    347323
24            179      1    349485
25            179      1    357420
26            179      1    360890
27            179      1    378633
28            179      1    384061
29            179      1    390799
...           ...    ...       ...
3305312  16618550      1  15036022
3305313  16618550      1  15047165
3305314  16618550      1  15089912
3305315  16618550      1  15197267
3305316  16618550      1  15224052
3305317  16618550      1  15363089
3305318  16618550      1  15833867
3305319  16618550      1  15874244
3305320  16618550      1  15942140
3305321  16618550      1  15951925
3305322  16618550      1  15967293
3305323  16618550      1  16019825
3305324  16618550      1  16051805
3305325  16618550      1  16082019
3305326  16618550      1  16102206
3305327  16618550      1  16126653
3305328  16618550      1  16236662
3305329  16618550      1  16288960
3305330  16618550      1  16330020
3305331  16618550      1  16330812
3305332  16618550      1  16350895
3305333  16618550      1  16396702
3305334  16618550      1  16471490
3305335  16618550      1  16522393
3305336  16618550      1  16570275
3305337  16618550      1  16592437
3305338  16618550      1  16598516
3305339  16618550      1  16612130
3305340  16618550      1  16614368
3305341  16618550      1  16615211

[3305342 rows x 3 columns]

Вывод в вебморде замечательный :) Теперь втянем счетчики общих друзей

In [8]:
train_common_friends_df = pandas.DataFrame(
    data = {"from" : commonFriends_train.row, "to" : commonFriends_train.col, "common_neighbors" : commonFriends_train.data})
train_common_friends_df

          common_neighbors      from        to
0                        1       179   2772608
1                        1       179  14466587
2                        1       179   8622830
3                        1       179  15904467
4                        1       179   4450363
5                        1       179  16386542
6                        1       179  16202341
7                        1       179  15117134
8                        1       179  14775137
9                        1       179  14518169
10                       1       179  14319726
11                       1       179  13653785
12                       1       179  13335812
13                       1       179  12783167
14                       1       179  11946059
15                       1       179  11801012
16                       1       179  11528323
17                       1       179  11516301
18                       1       179   9228610
19                       1       179   8889387
20                       1       179   7974125
21                       1       179   6875029
22                       1       179   6515887
23                       1       179   5783247
24                       1       179   4941680
25                       1       179   4683823
26                       1       179   4444100
27                       1       179   3472585
28                       1       179   3169975
29                       1       179   2930327
...                    ...       ...       ...
51181019                 4  16618550    156205
51181020                 1  16618550    133375
51181021                 3  16618550     88527
51181022                 1  16618550     58771
51181023                 1  16618550     52508
51181024                 1  16618550  14743870
51181025                 4  16618550   8857384
51181026                 5  16618550   8458250
51181027                 2  16618550   4531183
51181028                17  16618550  15905405
51181029                 6  16618550  13946724
51181030                 1  16618550  12529816
51181031                 6  16618550   6478327
51181032                 2  16618550   5828338
51181033                 8  16618550   5415519
51181034                 2  16618550   4767006
51181035                 1  16618550   4501963
51181036                 8  16618550   3816201
51181037                 2  16618550   3443936
51181038                 1  16618550   3063794
51181039                 2  16618550   2885004
51181040                 1  16618550   2452989
51181041                 3  16618550   2319665
51181042                 5  16618550   1963648
51181043                 1  16618550   1925285
51181044                 2  16618550     71201
51181045               249  16618550  16618550
51181046                 1  16618550   6195899
51181047                 2  16618550   5260734
51181048                 4  16618550   2354528

[51181049 rows x 3 columns]

## Балансируем

51М пар с общими друзьями, а в графе всего 3м - датасет несбалансирован. В таких случаях полезно бывает засэмплить негативные примеры. Но сначала соберем позитивы.

In [9]:
positives = pandas.merge(
    train_markup_df,
    train_common_friends_df,
    how='inner',
    left_on = ["from","to"],
    right_on = ["from","to"])
positives

            from  label        to  common_neighbors
0            179      1   2545686                22
1            179      1   4033722                13
2            179      1   7277379                 5
3            179      1   8001525                 4
4            179      1  10958460                23
5            179      1  11525540                33
6            179      1  13570262                 8
7            179      1  13822924                28
8            179      1  13987529                23
9            179      1  14064795                 5
10           179      1  14752253                54
11           179      1  14768794                 8
12           179      1  14905297                 1
13           179      1  15038302                10
14           179      1  15148074                 4
15           179      1  15402417                10
16           179      1  15636770                 9
17           179      1  15701913                28
18          2401      1   2749818                11
19          2401      1   5319109                 3
20          2401      1   6087609                52
21          3523      1     15301                 9
22          3523      1     35907                15
23          3523      1     43387                15
24          3523      1     57206                14
25          3523      1    131724                16
26          3523      1    184032                11
27          3523      1    279838                13
28          3523      1    323920                11
29          3523      1    783782                19
...          ...    ...       ...               ...
423675  16618550      1  13270526                10
423676  16618550      1  13294278                10
423677  16618550      1  13489670                23
423678  16618550      1  13493896                12
423679  16618550      1  13516440                 8
423680  16618550      1  13525822                 1
423681  16618550      1  13738736                 7
423682  16618550      1  13782326                12
423683  16618550      1  13898266                 9
423684  16618550      1  13906589                21
423685  16618550      1  13955853                 5
423686  16618550      1  14240611                11
423687  16618550      1  14509171                20
423688  16618550      1  14990100                24
423689  16618550      1  15018641                 1
423690  16618550      1  15036022                14
423691  16618550      1  15089912                10
423692  16618550      1  15224052                 4
423693  16618550      1  15833867                13
423694  16618550      1  15874244                 3
423695  16618550      1  15967293                25
423696  16618550      1  16051805                11
423697  16618550      1  16102206                 5
423698  16618550      1  16236662                 8
423699  16618550      1  16288960                 5
423700  16618550      1  16330812                19
423701  16618550      1  16350895                 2
423702  16618550      1  16522393                28
423703  16618550      1  16592437                 4
423704  16618550      1  16598516                21

[423705 rows x 4 columns]

Почему позитивов оказалось только 423к? Наосячили с выборкой? Нет - просто общие друзья подсчитаны только между пользователями ядра, а в графе были и внешние их связи. Теперь понятно что для негативов нада сэмплировать около 1% данных

In [10]:
sample_neg = train_common_friends_df.sample(frac=0.01, replace=True)

Сразу вычистим из памяти здоровущий кусок. А затем сделаем лефт джоин, оставим только налы и заменим их на 0.

In [11]:
del train_common_friends_df

In [12]:
pre_negatives = pandas.merge(
    sample_neg,
    train_markup_df,
    how='left',
    left_on = ["from","to"],
    right_on = ["from","to"])

In [13]:
pre_negatives

        common_neighbors      from        to  label
0                      3  11733406  10173690    NaN
1                      1    722329   4823863    NaN
2                      6   5188307   6482443    NaN
3                      1   6309405   3663406    NaN
4                      3  11179094  10614982    NaN
5                      1   5710290   4074918    NaN
6                      2   5651814    332652    NaN
7                      1  13194877   7516895    NaN
8                      1  15087075   2698086    NaN
9                      2   4495439   1013278    NaN
10                     1    509050  16363298    NaN
11                     1  12090598   8188075    NaN
12                     1   7488550   9955965    NaN
13                     1   2817851   4599104    NaN
14                     1  13768252   6116881    NaN
15                     1   6662714  10071543    NaN
16                     1  15271534  15419138    NaN
17                     1    360341   6236646    NaN
18                     1  13791099   1799827    NaN
19                     1   5641386   4260189    NaN
20                     1   6302618   1844766    NaN
21                     1   9213284  11407034    NaN
22                     1  13035388   4514580    NaN
23                     3  11580550   7475649    NaN
24                     8  14103796  11772402    NaN
25                     1   2728630   9826400    NaN
26                     1   7781249  10434302    NaN
27                     1     97199   4786203    NaN
28                     1   4775862   2252920    NaN
29                     1  13456336   9919834    NaN
...                  ...       ...       ...    ...
511780                 1   6453714   8530734    NaN
511781                 1   4094434   6700333    NaN
511782                 7  13611986    110726    NaN
511783                 1  14656359  13756441    NaN
511784                 1   7763242    943158    NaN
511785                 2   1624560  13221297    NaN
511786                 3   7938087  13002875    NaN
511787                 2   2626088   2603379    NaN
511788                 1  16171587  14870132    NaN
511789                 1   2865536  15377960    NaN
511790                 7   3941666    278064    NaN
511791                10  10960744  15121969    NaN
511792                 1   3228536   4568865    NaN
511793                 3  10445515  16553790    NaN
511794                 1   2190466   9480126    NaN
511795                 1   9918164  12563773    NaN
511796                 1   1330266  10095594    NaN
511797                 1  12178323   1316293    NaN
511798                 1  12329331   2754571    NaN
511799                 1   2930128  14818907    NaN
511800                 3  12440431   1955839    NaN
511801                 1  15556632    638238    NaN
511802                 2   6451360   1120304    NaN
511803                10   5883463   8755812    NaN
511804                 1   4344937  10831014    NaN
511805                 2   8397381   7961897    NaN
511806                 1  16412300   1950758    NaN
511807                 1   1874678  11153652    NaN
511808                 1   1693233  15778107    NaN
511809                 1   1208309   9555248    NaN

[511810 rows x 4 columns]

In [14]:
negatives = pre_negatives[pre_negatives["label"] != 1].replace(float("NaN"), 0.0)
negatives

        common_neighbors      from        to  label
0                      3  11733406  10173690    0.0
1                      1    722329   4823863    0.0
2                      6   5188307   6482443    0.0
3                      1   6309405   3663406    0.0
4                      3  11179094  10614982    0.0
5                      1   5710290   4074918    0.0
6                      2   5651814    332652    0.0
7                      1  13194877   7516895    0.0
8                      1  15087075   2698086    0.0
9                      2   4495439   1013278    0.0
10                     1    509050  16363298    0.0
11                     1  12090598   8188075    0.0
12                     1   7488550   9955965    0.0
13                     1   2817851   4599104    0.0
14                     1  13768252   6116881    0.0
15                     1   6662714  10071543    0.0
16                     1  15271534  15419138    0.0
17                     1    360341   6236646    0.0
18                     1  13791099   1799827    0.0
19                     1   5641386   4260189    0.0
20                     1   6302618   1844766    0.0
21                     1   9213284  11407034    0.0
22                     1  13035388   4514580    0.0
23                     3  11580550   7475649    0.0
24                     8  14103796  11772402    0.0
25                     1   2728630   9826400    0.0
26                     1   7781249  10434302    0.0
27                     1     97199   4786203    0.0
28                     1   4775862   2252920    0.0
29                     1  13456336   9919834    0.0
...                  ...       ...       ...    ...
511780                 1   6453714   8530734    0.0
511781                 1   4094434   6700333    0.0
511782                 7  13611986    110726    0.0
511783                 1  14656359  13756441    0.0
511784                 1   7763242    943158    0.0
511785                 2   1624560  13221297    0.0
511786                 3   7938087  13002875    0.0
511787                 2   2626088   2603379    0.0
511788                 1  16171587  14870132    0.0
511789                 1   2865536  15377960    0.0
511790                 7   3941666    278064    0.0
511791                10  10960744  15121969    0.0
511792                 1   3228536   4568865    0.0
511793                 3  10445515  16553790    0.0
511794                 1   2190466   9480126    0.0
511795                 1   9918164  12563773    0.0
511796                 1   1330266  10095594    0.0
511797                 1  12178323   1316293    0.0
511798                 1  12329331   2754571    0.0
511799                 1   2930128  14818907    0.0
511800                 3  12440431   1955839    0.0
511801                 1  15556632    638238    0.0
511802                 2   6451360   1120304    0.0
511803                10   5883463   8755812    0.0
511804                 1   4344937  10831014    0.0
511805                 2   8397381   7961897    0.0
511806                 1  16412300   1950758    0.0
511807                 1   1874678  11153652    0.0
511808                 1   1693233  15778107    0.0
511809                 1   1208309   9555248    0.0

[507577 rows x 4 columns]

Последний штрих - объединяем позитивы с негативами и получаем миллионный датасет с 1-й фичей :)

In [15]:
dataset = pandas.concat([positives,negatives])
dataset

        common_neighbors      from  label        to
0                     22       179    1.0   2545686
1                     13       179    1.0   4033722
2                      5       179    1.0   7277379
3                      4       179    1.0   8001525
4                     23       179    1.0  10958460
5                     33       179    1.0  11525540
6                      8       179    1.0  13570262
7                     28       179    1.0  13822924
8                     23       179    1.0  13987529
9                      5       179    1.0  14064795
10                    54       179    1.0  14752253
11                     8       179    1.0  14768794
12                     1       179    1.0  14905297
13                    10       179    1.0  15038302
14                     4       179    1.0  15148074
15                    10       179    1.0  15402417
16                     9       179    1.0  15636770
17                    28       179    1.0  15701913
18                    11      2401    1.0   2749818
19                     3      2401    1.0   5319109
20                    52      2401    1.0   6087609
21                     9      3523    1.0     15301
22                    15      3523    1.0     35907
23                    15      3523    1.0     43387
24                    14      3523    1.0     57206
25                    16      3523    1.0    131724
26                    11      3523    1.0    184032
27                    13      3523    1.0    279838
28                    11      3523    1.0    323920
29                    19      3523    1.0    783782
...                  ...       ...    ...       ...
511780                 1   6453714    0.0   8530734
511781                 1   4094434    0.0   6700333
511782                 7  13611986    0.0    110726
511783                 1  14656359    0.0  13756441
511784                 1   7763242    0.0    943158
511785                 2   1624560    0.0  13221297
511786                 3   7938087    0.0  13002875
511787                 2   2626088    0.0   2603379
511788                 1  16171587    0.0  14870132
511789                 1   2865536    0.0  15377960
511790                 7   3941666    0.0    278064
511791                10  10960744    0.0  15121969
511792                 1   3228536    0.0   4568865
511793                 3  10445515    0.0  16553790
511794                 1   2190466    0.0   9480126
511795                 1   9918164    0.0  12563773
511796                 1   1330266    0.0  10095594
511797                 1  12178323    0.0   1316293
511798                 1  12329331    0.0   2754571
511799                 1   2930128    0.0  14818907
511800                 3  12440431    0.0   1955839
511801                 1  15556632    0.0    638238
511802                 2   6451360    0.0   1120304
511803                10   5883463    0.0   8755812
511804                 1   4344937    0.0  10831014
511805                 2   8397381    0.0   7961897
511806                 1  16412300    0.0   1950758
511807                 1   1874678    0.0  11153652
511808                 1   1693233    0.0  15778107
511809                 1   1208309    0.0   9555248

[931282 rows x 4 columns]

Остальное нам теперь не нужно

In [16]:
del positives
del negatives
del sample_neg
del train_markup_df

## Подключаем демографию

1 фича это маловато. Где взять еще? Очевидный вариант - из демографии пользователей. Нам повезло - панда умеет читать и csv :)

In [17]:
core = pandas.DataFrame()

# Итерируемся по файлам
for f in glob.glob("./coreDemography/part*"):
    # Собираем все в один датафрэйм
    core = pandas.concat(
        [core,
         # Поддержка csv из коробки :)
        pandas.read_csv(
        f, 
        sep = "\t",
        # Поддержка gzip из коробки :)
        compression = 'gzip',
        # Заводим индекс - будет быстрый доступ по ИД юзера
        index_col = ["userId"],
        names = ["userId", "create_date", "birth_date", "gender", "ID_country", "ID_Location", "loginRegion"],
        dtype = {
                "userId" : numpy.int32,
                "create_date" : numpy.int64,
                "birth_date" : numpy.float16,
                "gender" : numpy.int8,
                "ID_country" : numpy.int64,
                "ID_Location" : numpy.int64,
                # Поскольку поле может быть пусто, используем float. На месте пустоты будет NaN
                "loginRegion" : numpy.float32
                }
        )])

# Ну а вывод на консоль совсем зачотный
core

,create_date,birth_date,gender,ID_country,ID_Location,loginRegion
userId,,,,,,
16460783,1182885174073,486.0,2,10414533690,1078547,85.0
16467391,1176953226317,4668.0,2,10414533690,1384327,85.0
16467889,1169816093060,6860.0,2,10414533690,33438,NaN
16468013,1172074147460,5360.0,2,10415971874,4000749,1.0
16471027,1182034019343,6312.0,2,10414533690,3047069,11.0
16474162,1173115608560,5568.0,2,10414533690,3868434,36.0
16476386,1151057658677,4352.0,2,10414533690,3385314,11.0
16481067,1177305838543,3832.0,2,10414533690,1112209,13.0
16485965,1178801047573,-2368.0,2,10415971874,2225871,96.0
16486027,1163679273840,5864.0,2,10397571399,3638536,89.0
16488894,1177581364790,12848.0,2,10414533690,6165006,1.0
16490904,1181379905217,1577.0,2,10414533690,3385314,11.0
16492105,1178141986007,5372.0,1,10414533690,2658996,2.0
16494496,1151731681723,4424.0,2,10424076448,2288072,61.0
16496360,1169983003390,411.0,1,10414533690,917969,13.0
16496406,1182349385770,3268.0,2,10414533690,1078547,85.0
16497160,1181805101140,-6592.0,1,10414533690,3757378,NaN
16502161,1176361948817,4108.0,2,10424076448,3870095,NaN
16506301,1162468028300,5608.0,2,10414533690,1078547,85.0
16506809,1167156474853,4360.0,2,10414533690,3385314,NaN
16511054,1177353963530,3506.0,2,10414533690,3385314,1.0
16511730,1172430435587,2134.0,1,10414533690,917969,NaN
16513037,1174545142180,1626.0,1,10396721959,425758,85.0
16513623,1161357266270,4520.0,1,10414533690,3522251,0.0
16515381,1179761574563,5732.0,2,10414533690,1078547,1.0
16518234,1161146918647,5980.0,2,10414533690,3385314,NaN
16519956,1175427733023,-792.0,2,10397571399,864587,0.0
16521192,1176518218737,5040.0,2,10395431810,1031182,0.0
16522198,1175508666533,4656.0,2,10414533690,3757378,22.0
16522393,1179324723183,3228.0,2,10414533690,1078547,5.0
...,...,...,...,...,...,...
16378776,1452444011427,12784.0,1,10414533690,1078547,22.0
16385369,1435261902120,4512.0,2,10414533690,1600307,NaN
16385449,1431803121483,1924.0,2,10414533690,2826096,22.0
16394711,1434312942000,11008.0,1,10414533690,1078547,85.0
16395027,1434401094567,-984.0,1,10414533690,3385314,1.0
16395726,1437840520557,6632.0,2,10414533690,867411,8.0
16397844,1435231869987,9376.0,2,10414533690,1078547,85.0
16401471,1439305459247,-4328.0,2,10414533690,12351880,36.0
16401862,1439407692170,-7848.0,2,10414533690,3757378,NaN
16402437,1436467088737,8712.0,2,10414533690,9316021,NaN
16403332,1439827286847,-3336.0,2,10414533690,14920443,36.0
16407485,1440954567093,2756.0,2,10414533690,3385314,62.0
16407537,1440961800017,12976.0,2,10414533690,1078547,85.0
16412877,1439374350993,4332.0,1,10414533690,3823301,35.0
16413049,1442754891013,8824.0,1,10414533690,15373901,8.0
16413240,1442817141907,7960.0,2,10414533690,1078547,5.0
16422776,1446083489447,-819.0,2,10414533690,8051980,8.0
16423522,1446317418507,9680.0,2,10397135919,4551084,NaN
16429276,1445585748407,6336.0,2,10414533690,341236,NaN
16431038,1446210173927,6312.0,2,10414533690,4228125,39.0
16432289,1449499426703,5056.0,1,10414533690,1078547,NaN
16432512,1449582646120,12576.0,2,10414533690,527261,NaN
16432639,1449608620860,3514.0,2,10414533690,15652131,0.0
16435488,1447787496337,1717.0,2,10414533690,15127665,36.0
16440406,1452599692397,-2194.0,2,10414533690,3897824,3.0
16441106,1452858460953,5648.0,2,10414533690,508601,78.0
16441415,1450034189020,7056.0,2,10397571399,2765824,54.0
16444567,1454135685613,586.0,1,10415971874,2225871,46.0
16444970,1451497760180,14000.0,2,10414533690,527261,NaN
16458277,1457465501307,-3528.0,2,10414533690,527261,85.0

Замечательно! Теперь делаем джоин демографии с основным датасетом. Два раза. Потому как from и to.

In [18]:
withDemography = pandas.merge(
    pandas.merge(
        dataset,
        core,
        how='inner',
        left_on = ["from"],
        right_index = True),
    core,
    how='inner',
    left_on = ["to"],
    right_index = True,
    suffixes = ['',"_to"])
withDemography

,common_neighbors,from,label,to,create_date,birth_date,gender,ID_country,ID_Location,loginRegion,create_date_to,birth_date_to,gender_to,ID_country_to,ID_Location_to,loginRegion_to
0,22,179,1.0,2545686,1183207776777,-64.0,1,10414533690,827938,43.0,1241009554407,1763.0,1,10414533690,4599571,23.0
376330,2,296398,0.0,2545686,1199721065610,5512.0,1,10414533690,1078547,85.0,1241009554407,1763.0,1,10414533690,4599571,23.0
4293,1,374036,0.0,2545686,1198873312280,-4492.0,2,10414533690,1078547,85.0,1241009554407,1763.0,1,10414533690,4599571,23.0
66341,4,1389842,0.0,2545686,1224073888587,5640.0,2,10414533690,3385314,NaN,1241009554407,1763.0,1,10414533690,4599571,23.0
337320,1,1859520,0.0,2545686,1237907243513,-3018.0,2,10414533690,2407939,26.0,1241009554407,1763.0,1,10414533690,4599571,23.0
72220,2,2388048,1.0,2545686,1255363239223,3684.0,2,10414533690,3385314,NaN,1241009554407,1763.0,1,10414533690,4599571,23.0
122703,1,9717986,0.0,2545686,1348059475107,7416.0,2,10414533690,2007580,2.0,1241009554407,1763.0,1,10414533690,4599571,23.0
406105,1,11108463,0.0,2545686,1357211578650,4556.0,2,10415971874,1832332,59.0,1241009554407,1763.0,1,10414533690,4599571,23.0
333649,183,12802551,1.0,2545686,1398158518590,1872.0,1,10424076448,1722158,33.0,1241009554407,1763.0,1,10414533690,4599571,23.0
350758,47,13634932,1.0,2545686,1415986935390,4184.0,1,10414533690,1431892,5.0,1241009554407,1763.0,1,10414533690,4599571,23.0
153852,1,14658229,0.0,2545686,1394979095203,11776.0,2,10414533690,1733,36.0,1241009554407,1763.0,1,10414533690,4599571,23.0
411320,23,16061686,1.0,2545686,1411751219240,6404.0,2,10414533690,3897824,3.0,1241009554407,1763.0,1,10414533690,4599571,23.0
476105,2,16528493,0.0,2545686,1179567813603,-4196.0,2,10414533690,3579196,7.0,1241009554407,1763.0,1,10414533690,4599571,23.0
1,13,179,1.0,4033722,1183207776777,-64.0,1,10414533690,827938,43.0,1289302606917,225.0,2,10414533690,1337147,97.0
59800,14,1971467,1.0,4033722,1231601868803,8600.0,2,10414533690,3385314,1.0,1289302606917,225.0,2,10414533690,1337147,97.0
58494,1,4731400,0.0,4033722,1293970074097,-2102.0,2,10414533690,1078547,5.0,1289302606917,225.0,2,10414533690,1337147,97.0
183423,3,6154987,1.0,4033722,1316723017990,5528.0,1,10414533690,3897824,3.0,1289302606917,225.0,2,10414533690,1337147,97.0
61543,1,8340038,0.0,4033722,1328892602840,4032.0,2,10414533690,3385314,1.0,1289302606917,225.0,2,10414533690,1337147,97.0
183763,1,9079040,0.0,4033722,1319992282317,7512.0,2,10414533690,505808,NaN,1289302606917,225.0,2,10414533690,1337147,97.0
329216,17,11871797,0.0,4033722,1381328451637,1907.0,2,10414533690,2178647,NaN,1289302606917,225.0,2,10414533690,1337147,97.0
459853,1,15175625,0.0,4033722,1382348974420,7336.0,2,10415971874,4536095,NaN,1289302606917,225.0,2,10414533690,1337147,97.0
45263,4,15449415,0.0,4033722,1378399622730,13512.0,2,10414533690,3897824,NaN,1289302606917,225.0,2,10414533690,1337147,97.0
387087,21,15930126,0.0,4033722,1414618682917,6576.0,2,10414533690,3385314,NaN,1289302606917,225.0,2,10414533690,1337147,97.0
2,5,179,1.0,7277379,1183207776777,-64.0,1,10414533690,827938,43.0,1327997127977,13632.0,2,10414533690,1078547,85.0
4342,6,125777,1.0,7277379,1194073954693,5116.0,2,10414533690,1078547,5.0,1327997127977,13632.0,2,10414533690,1078547,85.0
6912,48,246502,1.0,7277379,1198215839897,5608.0,2,10414533690,1078547,5.0,1327997127977,13632.0,2,10414533690,1078547,85.0
8437,201,291943,1.0,7277379,1197219642950,5576.0,2,10414533690,1078547,22.0,1327997127977,13632.0,2,10414533690,1078547,85.0
8982,278,296398,1.0,7277379,1199721065610,5512.0,1,10414533690,1078547,85.0,1327997127977,13632.0,2,10414533690,1078547,85.0
10657,64,327176,1.0,7277379,1197982886230,-473.0,1,10414775922,4568325,NaN,1327997127977,13632.0,2,10414533690,1078547,85.0
11059,10,340013,1.0,7277379,1200418339740,3870.0,2,10414533690,1078547,85.0,1327997127977,13632.0,2,10414533690,1078547,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491736,1,7491355,0.0,2313909,1323792573347,5288.0,2,10424076448,3493383,13.0,1258098835617,894.0,2,10414533690,1312780,124.0
191752,1,13321729,0.0,11556241,1362156082207,12216.0,1,10424076448,101563,NaN,1364314450373,10560.0,2,10424076448,3829723,44.0
198035,1,1683311,0.0,1305771,1232318597723,6940.0,1,10414533690,2969617,32.0,1222426894157,4588.0,2,10414533690,2969617,32.0
276044,1,4017071,0.0,5061304,1289595013673,4584.0,1,10423319006,2090661,17.0,1299055063483,6176.0,1,10424076448,1771837,27.0
199646,1,10273915,0.0,16139586,1331322455040,10432.0,1,10411801535,3501686,15.0,1402587074390,8584.0,1,10410450732,2191146,NaN
465767,1,15701854,0.0,11581975,1388656342233,5304.0,2,10414533690,1078547,NaN,1339590152667,2804.0,1,10414533690,1078547,85.0
208153,1,6475549,0.0,6132846,1307109039880,10584.0,1,10414533690,3385314,NaN,1307984647277,10752.0,1,10397135919,2774541,0.0
428141,1,12886987,0.0,16084780,1400306286033,-16080.0,1,10414533690,8592519,11.0,1396978942517,6184.0,2,10415971874,3075368,152.0
224322,1,10004437,0.0,11891054,1358172347647,9824.0,2,10414533690,3385314,NaN,1354892118077,5128.0,2,10414533690,12141569,4.0
228786,3,5919818,0.0,9125900,1306699597333,3672.0,2,10414533690,2052663,NaN,1333871944710,5888.0,1,10424076448,1722158,NaN
232088,1,7693579,0.0,11739414,1308049689077,5020.0,2,10414533690,1078547,3.0,1375545428090,5824.0,2,10414533690,1146631,68.0
293052,46,2945792,0.0,2945792,1257001130523,-16416.0,1,10414533690,3953941,22.0,1257001130523,-16416.0,1,10414533690,3953941,22.0
402608,1,9534979,0.0,4145220,1329569509940,4024.0,1,10414533690,3458473,85.0,1285777256933,2236.0,2,10424076448,554182,6.0
295415,1,7872615,0.0,6625059,1327819364867,5080.0,1,10415971874,3648502,46.0,1316508973123,4608.0,2,10414533690,1270354,2.0
343080,1,11839292,0.0,10157621,1344254473103,9072.0,2,10395431810,77683,NaN,1333464968680,7336.0,2,10410450732,4448846,NaN
281447,1,12904873,0.0,6246022,1393494470733,11872.0,2,10405644775,15122426,84.0,1319365617003,10616.0,2,10414533690,3948253,28.0
291851,1,2986866,0.0,3994773,1271958975607,3224.0,2,10414533690,3326398,35.0,1288806809163,2636.0,2,10414533690,3326398,35.0
274169,1,5037695,0.0,753115,1295031130227,1083.0,1,10424076448,931135,11.0,1204973979277,1159.0,1,10414533690,4365263,1.0
311146,4,6256330,0.0,4100634,1317297510230,8092.0,2,10423319006,3976310,63.0,1290520281223,7336.0,2,10423319006,3976310,17.0
324514,1,7246429,0.0,391336,1327296200317,-4616.0,2,10414533690,3757378,NaN,1201414455717,907.0,2,10414533690,3757378,132.0
477310,44,7246429,0.0,7246429,1327296200317,-4616.0,2,10414533690,3757378,NaN,1327296200317,-4616.0,2,10414533690,3757378,NaN
345149,1,14369270,0.0,14722512,1432803142367,10424.0,2,10414533690,3897824,NaN,1445519379230,13680.0,1,10414533690,1078547,85.0
349484,1,10418818,0.0,3887401,1330152001660,-2292.0,1,10414533690,1071212,NaN,1289396136400,1666.0,2,10414533690,3757378,30.0
355375,1,6807562,0.0,4189745,1311685991797,12968.0,1,10414533690,1078547,NaN,1292620551720,1544.0,2,10414533690,350028,87.0
366780,1,16236971,0.0,11109814,1412964345217,2260.0,2,10414533690,2784685,1.0,1409924960853,3444.0,2,10414533690,3344818,25.0
442109,1,16236971,0.0,12496456,1412964345217,2260.0,2,10414533690,2784685,1.0,1384636863197,5804.0,2,10414533690,827938,NaN
373727,1,1810196,0.0,10004437,1235547407343,6700.0,2,10424076448,1722158,33.0,1358172347647,9824.0,2,10414533690,3385314,NaN
425711,1,13490172,0.0,9369630,1403891876173,-3716.0,1,10414533690,917969,13.0,1322740530233,3392.0,1,10414533690,12141331,21.0
503439,1,5920027,0.0,8147168,1308914492700,12784.0,2,10414533690,1742579,5.0,1329740493527,8288.0,2,10425587057,15661458,0.0
508706,1,9492101,0.0,6246304,1338824672733,4548.0,1,10414533690,2116310,25.0,1317919172307,-3510.0,2,10414533690,4069721,NaN

Удачно получилось - для всех юзеров нашлась демография. Сохраним файлик для дальнейшей обработки в csv

In [19]:
withDemography.to_csv("./commonNeigborsAndDemography.csv")

# Главный принцип машинного обучения

__Многие задачи хорошо решаются и без машинного обучения.__